{% include base_path %}
{% assign talk = include.talk %}

<h4 class="archive__item-title" itemprop="headline">
    <b>{{ talk.event }}</b> 
    {% if talk.link %}
        <a href="{{ talk.link }}" target="_blank"> <i class="fa fa-solid fa-link"></i></a>
    {% endif %}
</h4>

{% if talk.location and talk.date %}
<div class="archive__item-event">
  {{ talk.location }}, {{ talk.date }}
</div>
{% elsif talk.location %}
<div class="archive__item-event">
    <b>{{ talk.location }}</b>
</div>
{% elsif talk.date %}
<div class="archive__item-event">
    <b>{{ talk.date }}</b>
</div>
{% endif %}

{% if talk.title %}
<div class="small">
    <i>{{ talk.title }}</i>
    {% if talk.slides %}
        <a href="{{ base_path }}/slides/{{ talk.slides }}" rel="permalink" target="_blank">
            [slides]
        </a>
    {% endif %}
    {% if talk.recording %}
        <a href="{{ talk.recording }}" rel="permalink" target="_blank">
            [recording]
        </a>
    {% endif %}
</div>
{% endif %}

{% if talk.hosts.size > 0  %}
<div class="small">Hosted by {{ talk.hosts | join: ", " }}</div>
{% endif %}

<!-- {% if talk.papers.size > 0  %}
<div class="small">
    Related papers:
    {% for paper in talk.papers %}
    <a href="{{ base_path }}/papers/{{ paper }}" rel="permalink" target="_blank">
        [{{ paper }}] 
    </a>
    {% endfor %}
</div>
{% endif %} -->
